.App {
  font-family: sans-serif;
  text-align: center;
}

.app-container {
  text-align: center;
  margin: 20px;
}

.input-container {
  margin-bottom: 20px;
}

.robot-input {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  height: 30px;
  border: 1px solid gray; 
  border-radius: 5px;
}

.add-button {
  /*padding: 10px 20px;*/
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: gainsboro;
  border: 1px solid black;
  width: 70px;
  height: 30px;
}

.robot-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.robot-image {
  width: 150px;
  height: 150px;
  cursor: pointer;
  transition: transform 0.2s;
}

.robot-image:hover {
  transform: scale(1.1);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}